doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hello world
        link(
            rel="stylesheet"
            href="./Resource/style.css"
        )
    body 
        h1 Hello world! 
        p This is the first file in my new Git Repo.
        p This line is here to show how merging works.